/target/archive-tmp/
/target/classes/
/target/coveragereports/
/target/generated-sources/
/target/generated-test-sources/
/target/jacocout/
/target/maven-archiver/
/target/maven-status/
/target/surefire-reports/
/target/test-classes/
/target/AeConverter-0.0.1-SNAPSHOT-jar-with-dependencies.jar
/target/AeConverter-0.0.1-SNAPSHOT.jar
/target/
